/* Work sans google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans {
    font-family: "Work Sans", sans-serif;
}

/* Common styles */
* {
    margin: 0;
    padding: 0;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.btn-primary{
    padding: 15px 20px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}



/* Header */

.header {
    background-color: #FF900E1A;
    padding-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


nav>h3 {
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 50px;
}

nav>ul>li {
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
}

nav>ul>li>a:hover {
    text-decoration: underline;
}


/* Banner */

.banner{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px auto;
}

.banner > div{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}


.banner div > h3{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}


.banner div > p{    
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;
}



/* Responsive section */

@media screen and (max-width:576px) {

    /* Header */
    nav {
        flex-direction: column;
    }

    nav>h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    nav>ul {
        flex-wrap: wrap;
        text-align: center;
        gap: 15px;
    }
}